<p [ngStyle]="{'background':'skyblue'}"> Total de stock : {{stock}} </p>
<div *ngIf="stock!=0">
  <p [ngStyle]="{'background':'skyblue'}"> Calor </p>
  <div *ngFor="let product of hot">
    <products [name]="product.nombre" [size]="product.talla" [stock]="product.stock" (click)="buy(product)"></products>
  </div>
  <p [ngStyle]="{'background':'skyblue'}"> Frio </p>
  <div *ngFor="let product of cold">
    <products [name]="product.nombre" [size]="product.talla" [stock]="product.stock" (click)="buy(product)"></products>
  </div>
</div>

<div *ngIf="stock==0" [ngStyle]="{'background':'green'}">
  Vendiste todo
</div>