<p>login works!</p>

<button routerLink="/pages">LOGIN</button>
<!--
Example 1
<div type="display: flex; flex-direction: column;">
    <input type="text" [(ngModel)]='userName' >
    <input type="password" [(ngModel)]='password' >
</div>
<button (click)="onLogin()">GIN</button>


Exaple2
<div type="display: flex; flex-direction: column;">
  <form #loginForm="ngForm">
    <input type="text" name="userName" ngModel>
    <input type="password" name="password" ngModel>
  </form>
</div>
<button (click)="onLogin2(loginForm)">GIN</button>

Example 3
<div type="display: flex; flex-direction: column;">
  <form (ngSubmit)="onLogin2(loginForm)" #loginForm="ngForm">
    <input type="text" name="userName" ngModel>
    <input type="password" name="password" ngModel>
    <button type="submit"> Enviar </button>
  </form>
</div>
-->

<input class="form-control" type="text" required ngModel #name="ngModel" minlength="3" maxlength="5" >
<div *ngIf="name.invalid && (name.touched || name.dirty)" class="alert alert-danger">
  <div *ngIf="name.errors.required">
    Name is requiered
  </div>
  <div *ngIf="name.errors.minlength">
    Error on the minium length of the word
  </div>
</div>


<!--
<div #test   class="class1 class2" id="test2">HOLA</div>


<button (click)="sw = !sw;">SW</button>
<div *ngIf="sw else esFalso">es verdad</div>


<ng-template #esFalso>
  <p>ES FALSO</p>
</ng-template> 

<p *ngElse="sw">SE MUESTRA SI ES FALSO</p>
-->